@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap');

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  color: black;
}
.nav-link {
  color: black !important;
}

.flex-container {
  display: flex !important;
}

.select {
  box-shadow: none !important;
  border-color: black;
}

.adminfunctions {
  padding: 10px;
  background-color: rgb(54, 49, 49);
  display: flex !important;
  justify-content: center !important;
}
.adminfunctions li {
  list-style-type: none !important;
  display: inline;
}

.adminfunctions li a {
  color: white !important;
  padding: 20px;
}
